/* rem and em do NOT depend on html font-size in media queries! 
instead, 1rem = 1em = 16px*/

/* ****************************** */
/* BELOW 1440px (Smaller desktops} */
/* ****************************** */

@media (max-width: 90em) {
  .menu,
  .hero-section {
    max-width: 140rem;
  }

  .menu {
    margin: 0 auto;
  }

  .button-menu {
    margin: 3rem 1rem;
  }

  .main-header {
    font-size: 5rem;
    padding: 3rem;
  }

  .container {
    max-width: 140rem;
    column-gap: 10rem;
    grid-template-columns: 90rem 30rem;
  }

  .bio-img {
    width: 30rem;
  }

  .education {
    max-width: 130rem;
    column-gap: 20rem;
  }

  .experience {
    max-width: 140rem;
    margin: 12rem auto 0;
  }

  .works {
    max-width: 140rem;
    grid-template-columns: 18rem 112rem;
    align-items: center;
  }

  .samples {
    max-width: 140rem;
  }

  .sample-header {
    margin-left: -10rem;
  }

  .sample-img {
    width: 120rem;
  }

  .cta {
    max-width: 140rem;
  }
}

/* ****************************** */
/* BELOW 1200px Landscape Tablets */
/* ****************************** */

@media (max-width: 75em) {
  html {
    /* 9px / 16px =  */
    font-size: 50%;
  }

  .menu,
  .hero-section {
    max-width: 110rem;
  }

  .main-header {
    text-align: center;
  }

  .container {
    max-width: 110rem;
    column-gap: 5rem;
    grid-template-columns: 80rem 25rem;
  }

  .bio-img {
    width: 25rem;
    align-self: center;
  }

  .education {
    max-width: 120rem;
    column-gap: 15rem;
  }

  .experience {
    max-width: 120rem;
    margin: 12rem auto 0;
  }

  .works {
    max-width: 120rem;
    grid-template-columns: 18rem 102rem;
    align-items: center;
  }

  .samples {
    max-width: 120rem;
  }

  .sample-header {
    margin-left: -5rem;
  }

  .sample-img {
    width: 110rem;
  }

  .cta {
    max-width: 120rem;
  }
}
/* ****************************** */
/* BELOW 944px (Tablets) */
/* ****************************** */

@media (max-width: 59em) {
  html {
    margin: 0 auto;
  }

  .menu,
  .hero-section {
    max-width: 100rem;
  }

  .secondary-header {
    text-align: center;
  }

  .container {
    max-width: 100rem;
    column-gap: 0;
    grid-template-columns: 80rem 20rem;
  }

  .bio-img {
    width: 20rem;
    align-self: center;
  }

  .education {
    max-width: 100rem;
    column-gap: 10rem;
  }

  .experience {
    max-width: 100rem;
    margin: 12rem auto 0;
  }

  .works {
    max-width: 100rem;
    grid-template-columns: 18rem 82rem;
    align-items: center;
  }

  .samples {
    max-width: 100rem;
  }

  .sample-header {
    margin-left: -5rem;
  }

  .sample-img {
    width: 90rem;
  }

  .cta {
    max-width: 100rem;
  }

  .contact-link {
    width: 96px;
    height: 96px;
  }
}

/* ****************************** */
/* BELOW 704px (Smaller Tablets) */
/* ****************************** */

@media (max-width: 44em) {
  .menu,
  .hero-section {
    max-width: 80rem;
  }

  .secondary-header {
    text-align: center;
  }

  .container {
    max-width: 80rem;
    grid-template-columns: 60rem 20rem;
  }

  .bio-img {
    width: 20rem;
    align-self: center;
  }

  .skills {
    grid-template-columns: 40rem 40rem;
  }

  .education {
    max-width: 80rem;
    column-gap: 10rem;
  }

  .education-list {
    width: 30rem;
  }

  .experience {
    max-width: 80rem;
    margin: 12rem auto 0;
  }

  .works {
    max-width: 80rem;
    grid-template-columns: 18rem 62rem;
    align-items: center;
  }

  .samples {
    max-width: 80rem;
  }

  .sample-header {
    margin-left: -5rem;
  }

  .sample-img {
    width: 70rem;
  }

  .cta {
    max-width: 80rem;
  }

  .contact-link {
    width: 96px;
    height: 96px;
  }
}

/* ****************************** */
/* BELOW 544px (Phones) */
/* ****************************** */

@media (max-width: 34em) {
  .menu,
  .hero-section {
    max-width: 60rem;
  }

  .portrait-img {
    width: 25rem;
  }

  .container {
    max-width: 60rem;
    grid-template-columns: 1fr;
  }

  .bio-img {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    width: 40rem;
    margin-top: 5rem;
  }

  .skills {
    grid-template-columns: 1fr;
  }

  .skill-img {
    visibility: hidden;
  }

  .skill-list {
    grid-column: 1;
    grid-row: 1;
    margin-top: 8rem;
  }

  .skills-flex li:last-child {
    margin-bottom: 3rem;
  }

  .education {
    max-width: 60rem;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .education-list {
    width: 40rem;
    margin-bottom: 5rem;
  }

  .experience {
    max-width: 60rem;
    margin: 12rem auto 0;
  }

  .works {
    max-width: 60rem;
    grid-template-columns: 18rem 42rem;
    align-items: center;
  }

  .samples {
    max-width: 60rem;
  }

  .sample-header {
    margin-left: -5rem;
  }

  .sample-img {
    width: 50rem;
  }

  .cta {
    max-width: 60rem;
  }

  .contact-link {
    width: 64px;
    height: 64px;
  }
}
