/* BACKGROUND COLORS */
/* 
#edf2ff
#91a7ff 
*/

/* FONTS COLORS */
/* 
#495057 
#868e96
#364fc7
*/

/* Header section */

.header {
  max-width: 100%;
  background-color: #edf2ff;
}

.hero-section {
  display: grid;
  margin: 0 auto;
  max-width: 160rem;
  grid-template-columns: 3fr 3fr;
  justify-content: center;
  align-items: center;
}

.portrait-img {
  margin: 15rem 0;
  width: 40rem;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(145, 167, 255, 0.5);
}

.menu {
  display: flex;
  max-width: 160rem;
  margin: 0 auto;
  justify-content: end;
}

.button-menu {
  margin: 3rem 3rem;
  background-color: #91a7ff;
  padding: 1rem 3rem;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 600;
  border: 0;
}

.button-menu:hover,
.button-menu:active {
  background-color: #edf2ff;
  transition: all 0.5s;
}

.personal-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  font-size: 6rem;
  padding: 5rem;
}
.secondary-header {
  font-size: 3rem;
  padding: 2rem;
}

/* BIO SECTION */

.bio-header {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.bio-text {
  color: #868e96;
  font-size: 2.5rem;
  line-height: 1.6;
}

.bio-img {
  width: 30rem;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

/* SKILLS */

.skills {
  grid-column: 1 / -1;
  display: grid;
  margin: 10rem auto 0;
  grid-template-columns: 50rem 50rem;
  justify-items: center;
}

.skill-img {
  width: 30rem;
  grid-column: 1;
  grid-row: 1 / -1;
}

.skill-list {
  grid-column: 2;
  border: 2px solid #495057;
  background-image: linear-gradient(
    to right,
    rgba(145, 167, 255, 0.95),
    rgba(145, 167, 255, 0.4)
  );
  width: 40rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  box-shadow: 5px 5px 10px rgba(92, 124, 250, 0.6);
  color: #edf2ff;
  border-radius: 10px;
}

.skills-header {
  font-size: 3rem;
}

.skills-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* EDUCATION SECTION */

.education {
  grid-column: 1 / -1;
  display: grid;
  max-width: 150rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  column-gap: 30rem;
}

.education-header {
  grid-column: 1 / -1;
  margin: 10rem 0 5rem;
  font-size: 4rem;
}

.education-list {
  border: 2px solid #495057;
  background-color: #edf2ff;
  width: 40rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  box-shadow: 5px 5px 10px rgba(145, 167, 255, 0.7);
  border-radius: 15px;
}

.education-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

/* WORK EXPERIENCE */

.experience {
  display: grid;
  max-width: 160rem;
  margin: 12rem auto 0;
}

.experience-header {
  margin-bottom: 5rem;
}

.works {
  display: grid;
  max-width: 160rem;
  grid-template-columns: 18rem 142rem;
  row-gap: 1.6rem;
}

.works-text {
  font-size: 2.5rem;
}

.sample-img {
  width: 140rem;
}

.sample-header {
  margin-bottom: 5rem;
  margin-left: -10rem;
}

/* CONTACT SECTION */

.cta {
  display: grid;
  max-width: 160rem;
  margin: 15rem auto 10rem;
  color: #868e96;
}

.cta-header {
  font-size: 5rem;
  font-weight: 800;
}

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 8rem;
}

.contact-link:hover {
  transform: rotate(1turn);
  transition: all 1.5s;
}

/* FOOTER */
.footer {
  margin: 0 auto 5rem;
  text-align: center;
}
